name: Tests

on:
  push:
    branches:
      - main
      - e2e-tests
  pull_request:
    branches:
      - '*'
jobs:
  # Tests:
  #   timeout-minutes: 20
  #   strategy:
  #     matrix:
  #       xcode_version:
  #         - "16.4" # 6.1.2
  #         - "26.0.1" # 6.2
  #   env:
  #     DEVELOPER_DIR: "/Applications/Xcode_${{ matrix.xcode_version }}.app/Contents/Developer"
  #   runs-on: macos-15
  #   steps:
  #   - name: Get swift version
  #     run: swift --version
  #   - uses: actions/checkout@v5
  #   - name: Build
  #     run: |
  #       swift build
  #   - name: Run Tests
  #     run: |
  #       swift test --no-parallel
  #     env:
  #       ENABLE_INTEGRATION_TESTS: 1
  #       IS_CI: 1
  E2ETests:
    env:
      DEVELOPER_DIR: "/Applications/Xcode_16.4.app/Contents/Developer"
    runs-on: macos-15
    steps:
    - uses: actions/checkout@v5
    - name: Build Scipio
      run: |
        swift build
    - name: Build firebase-ios-sdk 11.15.0
      run: |
        # https://github.com/giginet/Scipio/issues/239
        # https://github.com/giginet/Scipio/issues/241
        git clone https://github.com/firebase/firebase-ios-sdk \
          -b 11.15.0 \
          --depth=1
        swift run scipio create firebase-ios-sdk \
          --framework-type static \
          --platforms iOS \
          --verbose
